.auth-modal {
    display: grid;
    gap: 4px;

    .title {
        font-family: Comfortaa, sans-serif;
        font-size: 23px;
        color: #FFFFFF;
        text-align: center;
    }

    .link {
        margin-top: 4px;
        font-family: Comfortaa, sans-serif;
        font-size: 14px;

        &__text {
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}
